/*=============== BUTTONS ===============*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 1.5rem;
    border-radius: 0.3rem; 
    font-weight: var(--font-normal);
    transition: .3s;
    
    &:hover{
        background-color: var(--first-color);
    }

    &__header{
        display: none;
    }

    &__cta{
        width: 200px;
        border-radius: 60px;
        text-align: center;
    }

    &__alt{
        color: #299EF3;
    }

    &__service {
        background-color: #70C217;
        margin-top: 1rem;
        border-radius: 60px;
        &:hover{
            background-color: #70C217;
        }
    }
}