.feature{
    &__description {
        color: var(--service-title-color);
        font-size: 16px;
    }
    &__container{   
        gap: 2.5rem;
        img {
            z-index: 999;
        }
    }
    &__data{
        text-align: center;
        color: var(--service-title-color);
    }
}