/*=============== FOOTER ===============*/
.footer{
    background-image: url('~@/assets/img/footer.svg'); 
    padding-bottom: 2rem;
    background-repeat: no-repeat;
    background-size: cover;

    &__svgdecorations {
        position: absolute;
        right: 3rem;
        top: 98rem;
        z-index: 0;
    }
}